<h1>タスク追加ページ</h1>

  <%= form_with(model: @task,local: true) do |f| %>
    <%= render 'layouts/form' %>
    
    <div>課題内容<%=f.text_field :content %></div>
  
    <%= f.submit '投稿' %>
  <% end %>
  <%= link_to '一覧に戻る', tasks_path %>